<html>
    <head>
        <title>
            data
        </title>
    </head>
    <body>
        <form method="POST" action="/coordinates">
        <input type="text" placeholder="latitude" name="lat">
        <input type="text" placeholder="longitude" name="long">
        <input type="text" placeholder="Bus No" name="no">
        <input type="submit">
        </form>
    </body>
</html>