<html>
	<head>
		<title>Page</title>
	</head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="book icon"></i>Blog Site</div>
			</div>
			<a href="/" class="item"><i class="home icon"></i>Home</a>
			<a href="/blogs/new" class="item"><i class="plus icon"></i>New Post</a>
		</div>
