<html>
    <head>
        <title>Change Password</title>
    </head>
    
    <body>
        
        <form action="/changeppass" method="post">
            <input type="hidden" name="sic" value="cs155767">
            <input type="password" name="opass">
            <input type="password" name="pass">
            <input type="submit">
        </form>
    </body>
</html>