<html>
	<head>
		<title>log in parent</title>
	</head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><i class="bus icon"></i>Student login</div>
			</div>
			<a href="/user" class="item"><i class="home icon"></i>Home</a>
		</div>
        <div class="forms">
            <form class="ui form" action="/plogin" method="POST"> 
                <h4>Login to SAYAS</h4>
                <div class="field">
                    <input type="text" name="sic" placeholder="SIC">
                </div>
                <div class="field">
                    <input type="password" name="pass" placeholder="Password">
                </div>
                <button class="ui button" type="submit">Log In</button>
            </form>
            <hr>
            <p>Don't have an account? <a href="/user"><u>Register now</u></a></p>
        </div>
    </body>
</html>