<html>
    <head>
        <title>
            Terms and Conditions
        </title>
    </head>
    <body>
        
        <h1>
            <center>Terms and Conditions</center>
            <ul type="i">
                <% for(i=0;i<10;i++){ %>
                    <li>Terms n COnditions</li>
                <% } %>
            </ul>
            
            
        </h1>
    </body>
</html>