<% include ./partials/header %>

<h1>Sign Up</h1>

<form action="/register" method="POST">
    <input type="text" class="form-control" name="username" placeholder="username" required>
    <input type="password" class="form-control" name="password" placeholder="password" required>
    <input type="submit" class="btn btn-lg btn-primary btn-block">
</form>

<% include ./partials/footer %>